div{
    height:100px;
    width:100px;
    background-image:url('https://marketplace.canva.com/EAFUFiGX5ek/1/0/1600w/canva-colorful-watercolor-floral-linktree-background-qRHfsd-4Nmc.jpg');
    position:fixed;
    background-size:cover;
    right:0px;
}